{{ form_start(form) }}
<div class="row g-3">
	<div class="col-12">
		{{ form_label(form.name, 'Nom de la structure', {'label_attr': {'class': 'form-label'}}) }}
		{{ form_widget(form.name) }}

		<div class="invalid-feedback">
			{{ form_errors(form.name) }}
		</div>
	</div>
	<div class="col-12">
		{{ form_label(form.address, 'Adresse', {'label_attr': {'class': 'form-label'}}) }}
		{{ form_widget(form.address) }}

		<div class="invalid-feedback">
			{{ form_errors(form.address) }}
		</div>
	</div>
	<div class="col-12">
		{{ form_label(form.zipcode, 'Code postal', {'label_attr': {'class': 'form-label'}}) }}
		{{ form_widget(form.zipcode) }}

		<div class="invalid-feedback">
			{{ form_errors(form.zipcode) }}
		</div>
	</div>
	<div class="col-12">
		{{ form_label(form.city, 'Ville', {'label_attr': {'class': 'form-label'}}) }}
		{{ form_widget(form.city) }}

		<div class="invalid-feedback">
			{{ form_errors(form.city) }}
		</div>
	</div>
	<div class="col-12">
		{{ form_label(form.email, 'Adresse mail', {'label_attr': {'class': 'form-label'}}) }}
		{{ form_widget(form.email) }}

		<div class="invalid-feedback">
			{{ form_errors(form.email) }}
		</div>
	</div>
	<div class="col-12">
		{{ form_widget(form.password) }}
	</div>
	<div class="col-12">
		{{ form_label(form.franchise, 'Franchise', {'label_attr': {'class': 'form-label'}}) }}
		{{ form_widget(form.franchise) }}

		<div class="invalid-feedback">
			{{ form_errors(form.franchise) }}
		</div>
	</div>
	<button class="btn btn-outline-primary ml-5 mt-2">{{ button_label|default('Créer') }}</button>
</div>
{{ form_end(form) }}
