<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<title>FJ Fitness</title>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/brands.min.css" integrity="sha512-bSncow0ApIhONbz+pNI52n0trz5fMWbgteHsonaPk42JbunIeM9ee+zTYAUP1eLPky5wP0XZ7MSLAPxKkwnlzw==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
		<link rel="stylesheet" href="{{ asset('assets/styles.css') }}"/>
	</head>
	<body>
		{% include "home/navbar.html.twig" %}

		<div class="hero-section">
			<div class="container pt-4 pb-4">
				<div class="row">
					<div class="col-md-12 text-center">
						<h2 class="title mb-4">
							Devenir franchisé
						</h2>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12 mx-auto">
						<div class="text-center">
							<p class="mb-0">Après vous être renseigné(e) sur notre réseau, vous souhaitez obtenir plus d’informations et/ou rejoindre notre enseigne.</p>
							<p class="mt-5">Vous soumettez votre candidature via notre formulaire de contact en ligne. Nous la réceptionnons et vous recontactons dans la semaine qui suit afin d’échanger sur votre projet.</p>
							<p class="mt-5">
								<a class="btn btn-success" href="#">Contactez-nous</a>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="about-section">
			<div class="container">
				<div class="row">
					<div class="col-md-12 text-center">
						<h2 class="title mb-4">
							Notre histoire
						</h2>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6 mx-auto">
						<div class="bg-faded mb-4">
							<p class="mb-0">FJ Fitness franchit la barre des 100 clubs et affirme son leadership sur le coaching personnalisé en France, avec l'ambition d'atteindre les 300 clubs rapidement.</p>
						</div>
						<div>
							<h3>Ce que nous recherchons</h3>
							<p>Si vous avez une réelle envie d'entreprendre dans un univers dynamique et que vous êtes dotés de solides aptitudes à la gestion, au management et que vous aimez le relationnel avec la clientèle, n'hésitez plus !</p>

							<p>En famille, seul, en couple ou en association, les franchisés FJ Fitness viennent d'horizons très différents.</p>

							<p>Issus ou non des métiers du coaching sportif, si vous pensez être le candidat idéal : contactez-nous !</p>
						</div>
					</div>
					<div class="col-md-6">
						<div class="container-fluid">
							<div class="row h-100">
								<div class="col-6 p-3">
									<div class="card">
										<img src="{{ asset('assets/img/slide/slide-1.jpg') }}" alt="slide image 1"/>
									</div>
								</div>
								<div class="col-6 p-3">
									<div class="card">
										<img src="{{ asset('assets/img/slide/slide-2.jpg') }}" alt="slide image 2"/>
									</div>
								</div>
								<div class="col-6 p-3">
									<div class="card">
										<img src="{{ asset('assets/img/slide/slide-3.jpg') }}" alt="slide image 3"/>
									</div>
								</div>
								<div class="col-6 p-3">
									<div class="card">
										<img src="{{ asset('assets/img/slide/slide-4.jpg') }}" alt="slide image 4"/>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="social-section">
			<div class="container">
				<div class="row">
					<div class="col-md-12 text-center">
						<h2 class="title mb-4">Suivez-nous sur les réseaux sociaux</h2>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12 text-center pt-4">
						<div class="social mb-4">
							<a class="m-2" href="#!">
								<i class="fab fa-facebook-f"></i>
							</a>
							<a class="m-2" href="#!">
								<i class="fab fa-twitter"></i>
							</a>
							<a class="m-2" href="#!">
								<i class="fab fa-instagram"></i>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		{% include "home/footer.html.twig" %}

		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/js/all.min.js" integrity="sha512-yFjZbTYRCJodnuyGlsKamNE/LlEaEAxSUDe5+u61mV8zzqJVFOH7TnULE2/PP/l5vKWpUNnF4VGVkXh3MjgLsg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/js/brands.min.js" integrity="sha512-oPuIMrT4JN6Cw359VQkuI0OPn1reFOKJm1YUOjXxgIzMmNMY7g4jenNcJdYcF3dt90WyNajzivr3vZFSzgqLow==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	</body>
</html>
