{% extends 'admin.html.twig' %}

{% block body %}
	<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
		<h2>Liste des franchises actives</h2>
	</div>
	<div class="table-responsive">
		<table class="table table-striped table-sm">
			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">Nom</th>
					<th scope="col">Email</th>
					<th scope="col">Est actif ?</th>
					<th scope="col">Action</th>
				</tr>
			</thead>
			<tbody>
				{% for franchise in active_franchises %}
					<tr>
						<td>{{ franchise.id }}</td>
						<td>{{ franchise.name }}</td>
						<td>{{ franchise.email }}</td>
						<td>{{ franchise.active ? 'Oui' : 'Non' }}</td>
						<td>
							<a href="{{ path('app_dashboard_admin_franchise_details', {'id': franchise.id}) }}">Détails</a>
							<a href="{{ path('app_dashboard_edit_franchise', {'id': franchise.id}) }}">Modifier</a>
						</td>
					</tr>
				{% else %}
					<tr>
						<td class="text-center" colspan="5">Aucune franchise</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}
