{% extends 'admin.html.twig' %}

{% block pagetitle %}Ajout de permissions
{% endblock %}

{% block body %}

	<div class="row">
		{{ form_start(form) }}
		<div class="col">
			<div class="col-12">
				{{ form_label(form.client_id) }}
				{{ form_widget(form.client_id) }}

				<div class="invalid-feedback">
					{{ form_errors(form.client_id) }}
				</div>
			</div>
			<div class="col-12">
				{{ form_label(form.install_id) }}
				{{ form_widget(form.install_id) }}

				<div class="invalid-feedback">
					{{ form_errors(form.install_id) }}
				</div>
			</div>
			<div class="col-12">
				{{ form_label(form.active) }}
				{{ form_widget(form.active) }}

				<div class="invalid-feedback">
					{{ form_errors(form.active) }}
				</div>
			</div>
			<div class="col-12">
				{{ form_label(form.branch_id) }}
				{{ form_widget(form.branch_id) }}

				<div class="invalid-feedback">
					{{ form_errors(form.branch_id) }}
				</div>
			</div>
		</div>
		<div class="col">
			<div class="col-12">
				{{ form_label(form.perms) }}
				{{ form_widget(form.perms) }}

				<div class="invalid-feedback">
					{{ form_errors(form.perms) }}
				</div>
			</div>
		</div>
		{{ form_end(form) }}
	</div>
	<button class="btn btn-outline-primary ml-5 mt-2">Ajouter</button>
</div>{% endblock %}
