{% extends 'admin.html.twig' %}

{% block body %}
	<div class="form-control mb-4">
		<div class="d-flex justify-content-between">
			<div>{{ franchise.name }}</div>
			<div>{{ franchise.id }}</div>
		</div>
		{{franchise.active ? 'Actif' : 'Non actif' }}
	</div>
	<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
		<h3>Structures associés à la franchise</h3>
		<div class="btn-toolbar mb-2 mb-md-0">
			<div class="btn-group me-2">
				<a href="{{ path('app_dashboard_admin_new_structure', {'id': franchise.id}) }}" class="btn btn-outline-primary">Nouvelle structure</a>
			</div>
		</div>
	</div>
	<div class="row">
		{% for structure in franchise.structures %}
			<div class="col-xl-6 col-sm-12 col-12">
				<div class="card">
					<div class="card-body">
						<div class="media d-flex">
							<div class="align-self-center">
								<img class="img-fluid float-left" width="90" height="90" src="{{ client.logourl ? client.logourl : asset('assets/img/no-logo.png') }}" alt="{{ client.clientname }}"/>
							</div>
							<div class="media-body text-right mx-3">
								<p class="card-text">{{ structure.id }}</p>
								<p class="card-text">
									<a href="{{ path('app_dashboard_admin_structure_details', {'id': franchise.id, 'structure_id': structure.id}) }}">{{ client.clientname }}</a>
								</p>
								<p class="card-text">{{ client.shortDescription }}</p>
								<p class="card-text">{{ client.url }}</p>
							</div>
						</div>
						<div class="media d-flex mt-3">
							<div class="align-self-center">
								<button type="button" class="btn btn-sm btn-switch float-left {{ client.active ? 'active' : '' }}" data-toggle="button" aria-pressed="false" autocomplete="off">
									<div class="handle"></div>
								</button>
							</div>
							<div class="media-body text-right">
								<p class="card-text">{{ client.active ? 'Actif': 'Non actif' }}</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		{% else %}
			<p>Aucune structure associée pour le moment.</p>
		{% endfor %}
	</div>
{% endblock %}
