{% extends 'admin.html.twig' %}

{% block body %}
	<div class="form-control mb-4">
		<div class="d-flex justify-content-between">
			<div>{{ franchise.name }}</div>
			<div>{{ franchise.id }}</div>
		</div>
		{{franchise.active ? 'Actif' : 'Non actif' }}
	</div>
	<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
		<h3>Structures associés à la franchise</h3>
		<div class="btn-toolbar mb-2 mb-md-0">
			<div class="btn-group me-2">
				<a href="{{ path('app_dashboard_admin_new_structure', {'id': franchise.id}) }}" class="btn btn-outline-primary">Nouvelle structure</a>
			</div>
		</div>
	</div>

	{% for structure in franchise.structures %}
		<div class="col-lg-3 col-sm-12 card">
			<div class="card-body d-flex">
				<div class="col-6">
					<img src="{{ client.logourl ? client.logourl : asset('assets/img/no-logo.png') }}" width="90" height="90"/>
				</div>
				<div class="col-6">
					<p class="card-text">{{ structure.id }}</p>
					<p class="card-text">{{ client.clientname }}</p>
					<p class="card-text">{{ client.shortDescription }}</p>
					<p class="card-text">{{ client.url }}</p>
				</div>
			</div>
			<div class="card-body row">
				<div class="col-sm-5">
					<button type="button" class="btn btn-sm btn-switch" data-toggle="button" aria-pressed="false" autocomplete="off">
						<div class="handle"></div>
					</button>
				</div>
				{{ client.active ? 'Actif': 'Non actif' }}
			</div>
		</div>
	{% else %}
		<p>Aucune structure associée pour le moment.</p>
	{% endfor %}

{% endblock %}
