{% extends 'admin.html.twig' %}

{% block body %}
	<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
		<h2>Détails de la structure :
			{{ structure.name }}</h2>
		<div class="btn-toolbar mb-2 mb-md-0">
			<div class="d-flex">
				<a href="{{ path('app_dashboard_admin_franchise_details', {'id': franchise_id}) }}" class="btn btn-outline-success">Retour</a>
				<a href="{{ path('app_dashboard_edit_structure', {'id': structure.id}) }}" class="btn btn-outline-primary">Modifier</a>
				{{ include('structure/_delete_form.html.twig') }}
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-xl-12 col-sm-12 col-12">
			<div class="card">
				<div class="card-body d-flex">
					<div class="col-2">
						<img class="img-fluid rounded" width="90" height="90" src="{{ structure.client.logourl ? structure.client.logourl : asset('assets/img/no-logo.png') }}" alt="{{ structure.client.clientname }}"/>
					</div>
					<div class="col-5 px-2">
						<p class="card-text">ID :
							{{ structure.id }}</p>
						<p class="card-text">Nom du client :
							{{ structure.client.clientname }}</p>
						<p class="card-text">Description complète :
							{{ structure.client.fullDescription }}</p>
					</div>
					<div class="col-5 px-2">
						<p class="card-text">URL :
							{{ structure.client.url }}</p>
						<p class="card-text">dpo :
							{{ structure.client.dpo }}</p>
						<p class="card-text">contact technique :
							{{ structure.client.technicalContact }}</p>
						<p class="card-text">contact commercial :
							{{ structure.client.commercialContact }}</p>
					</div>
				</div>
				<div class="card-body d-flex">
					<div class="col-1">
						<button type="button" class="btn btn-sm btn-switch {{ structure.client.active ? 'active' : '' }}" data-toggle="button" aria-pressed="false" autocomplete="off">
							<div class="handle"></div>
						</button>
					</div>
					<div class="col-11">
						{{ structure.client.active ? 'Actif': 'Non actif' }}
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="form-control my-3">
		<div class="d-flex justify-content-between">
			<div>
				<p>{{structure.id}}</p>
			</div>
			<div>buttons</div>
		</div>
		{{structure.active ? 'Actif' : 'Non actif' }}
	</div>


{% endblock %}
