{% extends 'admin.html.twig' %}

{% block body %}


	<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
		<h2>Modification de la franchise :
			{{ franchise.name }}</h2>
		<div class="btn-toolbar mb-2 mb-md-0">
			<div class="btn-group me-2">
				<a href="{{ path('app_dashboard_admin_franchise_details', {'id': franchise.id}) }}" role="button" class="btn btn-outline-success mt-2">Retour</a>

				<form method="post" action="{{ path('app_dashboard_admin_delete_franchise', {'id': franchise.id}) }}" onsubmit="return confirm('Etes-vous sûr de vouloir supprimer cette franchise ainsi que toutes les structures associées ?');">
					<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ franchise.id) }}">
					<button class="btn btn-outline-danger mt-2">Supprimer</button>
				</form>
			</div>
		</div>
	</div>
	{{ form_start(form) }}
	<div class="row g-3">
		<div class="col-12">
			{{ form_label(form.name, 'Nom de la franchise', {'label_attr': {'class': 'form-label'}}) }}
			{{ form_widget(form.name) }}

			<div class="invalid-feedback">
				{{ form_errors(form.name) }}
			</div>
		</div>
		<div class="col-12">
			{{ form_label(form.address, 'Adresse', {'label_attr': {'class': 'form-label'}}) }}
			{{ form_widget(form.address) }}

			<div class="invalid-feedback">
				{{ form_errors(form.address) }}
			</div>
		</div>
		<div class="col-12">
			{{ form_label(form.zipcode, 'Code postal', {'label_attr': {'class': 'form-label'}}) }}
			{{ form_widget(form.zipcode) }}

			<div class="invalid-feedback">
				{{ form_errors(form.zipcode) }}
			</div>
		</div>
		<div class="col-12">
			{{ form_label(form.city, 'Ville', {'label_attr': {'class': 'form-label'}}) }}
			{{ form_widget(form.city) }}

			<div class="invalid-feedback">
				{{ form_errors(form.city) }}
			</div>
		</div>
		<div class="col-12">
			{{ form_label(form.email, 'Adresse mail', {'label_attr': {'class': 'form-label'}}) }}
			{{ form_widget(form.email) }}

			<div class="invalid-feedback">
				{{ form_errors(form.email) }}
			</div>
		</div>
		<div class="col-12">
			{{ form_label(form.is_active, 'Est actif ?', {'label_attr': {'class': 'form-label'}}) }}
			{{ form_widget(form.is_active) }}

			<div class="invalid-feedback">
				{{ form_errors(form.is_active) }}
			</div>
		</div>

		<button class="btn btn-outline-primary ml-5 mt-2">Modifier</button>
	</div>
	{{ form_end(form) }}

{% endblock %}
