{% extends 'admin.html.twig' %}

{% block body %}
	<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
		<h2>Liste des franchises inactives</h2>
	</div>
	<div class="table-responsive">
		<table class="table table-striped table-sm">
			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">Nom</th>
					<th scope="col">Adresse</th>
					<th scope="col">Code postal</th>
					<th scope="col">Ville</th>
					<th scope="col">Email</th>
				</tr>
			</thead>
			<tbody>
				{% for franchise in inactive_franchises %}
					<tr>
						<td>{{ franchise.id }}</td>
						<td>{{ franchise.name }}</td>
						<td>{{ franchise.address }}</td>
						<td>{{ franchise.zipcode }}</td>
						<td>{{ franchise.city }}</td>
						<td>{{ franchise.email }}</td>
					</tr>
				{% else %}
					<tr>
						<td class="text-center" colspan="6">Aucune franchise</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}
