<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
	<div class="position-sticky pt-3 sidebar-sticky">
		{% if app.user %}
			<p class="text-center">Bonjour,&nbsp;{{ app.user.name }}</p>
		{% endif %}
		<ul class="nav flex-column">

			{% if "ROLE_ADMIN" in app.user.roles %}
				<li class="nav-item">
					<a class="nav-link {% if app.request.get('_route') == 'app_dashboard_admin_index' %}active{% endif %}" aria-current="page" href="{{ path('app_dashboard_admin_index') }}">
						<span data-feather="home" class="align-text-bottom"></span>
						Tableau de bord
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link {% if app.request.get('_route') == 'app_dashboard_franchise_index' %}active{% endif %}" aria-current="page" href="{{ path('app_dashboard_franchise_index') }}">
						<span data-feather="file" class="align-text-bottom"></span>
						Franchises
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link {% if app.request.get('_route') == 'app_dashboard_structure_index' %}active{% endif %}" aria-current="page" href="{{ path('app_dashboard_structure_index') }}">
						<span data-feather="shopping-cart" class="align-text-bottom"></span>
						Structures
					</a>
				</li>
			{% elseif "ROLE_FRANCHISE" in app.user.roles %}
				<li class="nav-item">
					<a class="nav-link {% if app.request.get('_route') == 'app_dashboard_franchise_index' %}active{% endif %}" aria-current="page" href="{{ path('app_dashboard_franchise_index') }}">
						<span data-feather="home" class="align-text-bottom"></span>
						Tableau de bord
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link {% if app.request.get('_route') == 'app_dashboard_structure_index' %}active{% endif %}" aria-current="page" href="{{ path('app_dashboard_structure_index') }}">
						<span data-feather="shopping-cart" class="align-text-bottom"></span>
						Structures
					</a>
				</li>
			{% elseif "ROLE_STRUCTURE" in app.user.roles %}
				<li class="nav-item">
					<a class="nav-link active" aria-current="page" href="#">
						<span data-feather="home" class="align-text-bottom"></span>
						Tableau de bord
					</a>
				</li>
			{% endif %}
		</ul>
	</div>
</nav>
